<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Robots.txt study</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ '/assets/js/jquery-3.6.0.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <style>
      table.matrix tbody tr th {
        font-weight: bold;
      }
      table tbody th { font-weight: normal; }
      table tbody td { text-align: right; }
    </style>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}
        </p>

        {% if site.show_navigation %}
          <nav>
            <p>
            {% for node in site.navlist %}
              <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a><br/>
            {% endfor %}
            </p>
          </nav>
        {% endif %}

        <p class="view"><a href="https://opencode.it4i.eu/openwebsearcheu-public/commoncrawl-parser">View the Software Project on GitLab</a></p>

      </header>
      <section>

      {{ content }}

      {% for table in page.table_include %}
      {% include_relative {{ table }} %}
      <br>
      {% endfor %}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
<!--
 Based on:
  https://github.com/pages-themes/minimal
  https://github.com/orderedlist/minimal
  http://tablesorter.com/
-->